
  <div class="aboutTop">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aboutT">
            <h1>ABOUT ME</h1>
            <h2>I'm a UX/UI Designer and UI Developer from Hyderabad and Visakhapatnam, India.</h2>
            <p>I enjoy turning complex problems into simple, beautiful and intuitive interface designs, frontend development concepts or pushing pixels, you'll find me in the gym or on the court shooting hoops.</p>
          </div>
    </div>
  </div>
    <div class="aboutCT">
        <div class="container">
          <h1>ABOUT ME</h1>
           <p>
            My name is <b>Srinivas Jagarapu.</b> I am working as a UI/UX Designer, UI Developer and Digital Marketing,  in the beautiful city of Visakhapatnam, Hyderabad. I have studied B.Tech(EEE) at JNTU. I'm passionate about all types of design, photoshop, UX, Prototyping, High Fidelity Screen Mockups, and Presentation Layer Development ‐ HTML, CSS, HTML5, CSS3, SASS, BOOTSTRAP, DIGITAL MARKETING.

            I am a seasoned agency creative, an interactive creative director, a go-to guy; complete with a solid background in Fronted Developer. I bring 8+ year’s professional experience in Frontend/Digital  services, and nearly all facets of rich media, mobile and web. I am passionate about creating compelling interactive experiences that map to business objectives and results.

            Extensive experience managing teams around 5‐10 people of diverse personalities in deadline driven environments and supported onsite developer teams, establishing employee career development programming, leading cross‐functional team collaboration, and developing industry outreach opportunities.
           </p>
           <p>
              <b>Technical Skills:</b>
              Mac OS, Windows, MS Office, Adobe Photoshop, Adobe Dreamweaver, Eclipse, Visual Studio Code, HTML5, CSS3, SASS, Bootstrap, Angular, Javascript, Jquery.
           </p>
        </div>
    </div>

