<div class="navTop">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navTop">
      <div class="container">
          <a class="navbar-brand" href="home">JS</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse offset-md-2 offset-lg-2 offset-sm-2" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/about">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/web">Web Design</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/digital">Digital Marketing</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" routerLink="/portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/blog">Blog</a>
                    </li> -->
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/contact">Contact</a>
                    </li>


                  </ul>
                  <div>
                      <ul class="social">
                          <li><a href="https://www.facebook.com/srinivasjagarap/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="https://twitter.com/srinivasjagarap" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/srinivasarao-jagarapu-50007312/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          <li><a href="https://www.youtube.com/channel/UCoavlnehje9a8m7XpMEsZ0A?view_as=subscriber" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                          <li><a href="https://github.com/jagarapusrinivasarao" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        </ul>
                  </div>

              </div>

      </div>
    </nav>

</div>





