<div style="display:block;"
       [style.width]="width">
    <slideshow #slideshow
               [imageUrls]="imageUrls"
               [height]="height"
               [minHeight]="minHeight"
               [arrowSize]="arrowSize"
               [showArrows]="showArrows"
               [disableSwiping]="disableSwiping"
               [autoPlay]="autoPlay"
               [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
               [debug]="debug"
               [backgroundSize]="backgroundSize"
               [backgroundPosition]="backgroundPosition"
               [backgroundRepeat]="backgroundRepeat"
               [showDots]="showDots"
               [dotColor]="dotColor"
               [showCaptions]="showCaptions"
               [captionColor]="captionColor"
               [captionBackground]="captionBackground"
               [lazyLoad]="lazyLoad"
               [hideOnNoSlides]="hideOnNoSlides"
               [fullscreen]="fullscreen">
    </slideshow>
  </div>
<div class="chT">
  <div class="container">
        <div class="websiteWork">
           <h3><span>SOME OF MY LATEST WEBSITE DEVELOPMENT WORK</span></h3>
         </div>
        <div class="row contentMain">
          <div class="col-lg-4 col-md-4 col-sm-4 float-left">
            <div class="boxMain">
                <a href="https://www.bilyazilim.com/" target="_blank"><img src='assets/bilyazilim.png' class="img-fluid"/></a>
              <h4><a href="https://www.bilyazilim.com/" target="_blank">Bilyazilim</a></h4>
              <p>Website Design & Development</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 float-left">
            <div class="boxMain">
                <a href="https://streamrepublic.com/" target="_blank"><img src='assets/streamrepublic.png' class="img-fluid"/></a>
              <h4><a href="https://streamrepublic.com/" target="_blank">Stream Republic</a></h4>
              <p>Website Design & Development</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 float-left">
            <div class="boxMain">
              <a href="https://jagarapusrinivasarao.github.io/weatherapplication/" target="_blank"><img src='assets/weather.png' class="img-fluid"/></a>
              <h4><a href="https://jagarapusrinivasarao.github.io/weatherapplication/" target="_blank">Weather Application</a></h4>
              <p>Website Design & Development</p>
            </div>
          </div>

        </div>
        <div class="websiteWork">
            <h3><span>SOME OF MY LATEST ANDROID/IOS WORK</span></h3>
          </div>
         <div class="row contentMain">
           <div class="col-lg-4 col-md-4 col-sm-4 float-left">
            <div class="boxMain">
              <img src='assets/athena.png' class="img-fluid"/>
              <h4>Athena Global Technologies</h4>
              <p>IOS App Design</p>
            </div>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 float-left">
            <div class="boxMain">
              <img src='assets/uid.png' class="img-fluid"/>
              <h4>UID</h4>
              <p>Android App Design</p>
            </div>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 float-left">
            <div class="boxMain">
              <img src='assets/savemyleg.png' class="img-fluid"/>
              <h4>Save My Leg</h4>
              <p>Android App Design</p>
            </div>
           </div>

         </div>
         <div class="websiteWork">
            <h3><span>SOME OF MY LATEST DIGITAL MARKETING WORK</span></h3>
          </div>
         <div class="row contentMain">
           <div class="col-lg-4 col-md-4 col-sm-4 float-left">
            <div class="boxMain">
              <img src='assets//seo.png' class="img-fluid"/>
              <h4>Stream Republic</h4>
              <p>SEO</p>
            </div>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 float-left">
            <div class="boxMain">
              <img src='assets/smo.png' class="img-fluid"/>
              <h4>Ap Leaks</h4>
              <p>SMO</p>
            </div>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 float-left">
            <div class="boxMain">
              <img src='assets/digitalmarket.png' class="img-fluid"/>
              <h4>Brasilplay TV</h4>
              <p>Digital Marketing</p>
            </div>
           </div>

         </div>

  </div>
</div>
