.digitalT{
  background: #000 url("/assets/digital-slider.jpg") no-repeat center;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  height:350px;
  position: relative;
  h1{
    color:#e1dee1;
    position: absolute;
    top:100px;

  }
}
.dmCT{
  h1{
    text-align: center;
    padding: 20px 0px;

  }
  .dmS{
    margin: 10px 0px;
  }
  .dmSM{
     // background: #edeeef;
   background: #000 url("/assets/smo-bg.jpg") no-repeat center;
   background-size: cover;
   padding: 0px;
   margin: 0px;
   h1{
    color: #edeeef;
  }
  p{
   color: #edeeef;
  }
  }
}
