<div class="digitalT">
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aboutT">
        <h1>Digital Marketing</h1>
    </div>
 </div>
</div>
 <div class="dmCT">
   <div class="container">
      <h1>Search Engine Optimization(SEO)</h1>
      <div class="row dmS">
          <div class="col-lg-6 col-md-6 col-sm-6 float-left">
            <h4>JS Will Help You SEO</h4>
            <p>JS determines where your company’s website ranks for a given keyword search. When someone searches for your product in your town, on which page does your website appear?</p>
            <p>Each entrepreneur needs their site to be recorded on the main page of a Google indexed lists page for their area and industry. So how would you get to the top—and stay there? To remain in front of your rivals, your site must be coded appropriately and content fresh, relative substance that issues to your potential customers.</p>
            <h4>Developing an SEO Strategy</h4>
            <p>JS expert SEO services begin with analyzing your website and its target audience, researching your competitors, developing a list of keywords and phrases, On-page Optimization, Off-page Optimization</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 float-left">
              <div><img src="/assets/seo-g.png" alt="Website Design" class="img-fluid"/></div>
          </div>

        </div>
   </div>
    <div class="dmSM">
      <div class="container">
        <h1>Social Media Marketing</h1>
          <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 float-left">
                    <div class="mobileM"><img src="/assets/smo-m.png" alt="MobileApp Design" class="img-fluid"/></div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 float-left">
                  <p>Many people perceive that web based life is never again a trend. Be that as it may, for what reason is person to person communication essential to organizations?</p>
                  <p>Social media has the potential to direct more traffic to your website, generate more leads, grow your online presence, and improve search engine rankings.</p>
                  <p>JS social media experts will show you how Facebook, Twitter, LinkedIn, and any account your target audience frequents can drive customers to your website. Contact us to get started!</p>
                </div>
            </div>
      </div>
    </div>

 </div>
