<div class="webTop">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aboutT">
            <h1>Website Design</h1>

          </div>
    </div>
</div>
<div class="WCT">
  <div class="container">
    <h1>Website Design</h1>
    <div class="row WCD">
      <div class="col-lg-6 col-md-6 col-sm-6 float-left">
        <div><img src="/assets/feature-d.png" alt="Website Design" class="img-fluid"/></div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 float-left">
        <p>JS creates awesome desktop layouts that are designed with the user in mind and optimized for search engines.</p>

        <p>A beautiful, engaging design is only half of the development process. Search engine optimization (SEO) is an ever-evolving enterprise and our web development team specializes in adapting to these changes.</p>

        <p>Whether you need a new website or want to update a site that has out-dated code or design, JS can help you get found on the web and convert your visitors into leads.</p>
      </div>

    </div>
  </div>
  <div class="WCM">
    <div class="container">
      <h1>MobileApp Design</h1>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 float-left">
                <p>JS build awesome app for Android or IOS designed UI elements from other platforms. Icons, functional elements (input fields, checkboxes, switches) and typefaces should have a native feel. Use native components as much as possible, so that people trust your app.</p>
                 <p>
                  JS follow fundamental principle of material design. Consistency eliminates confusion. Maintaining an overall consistent appearance throughout an app is essential. Regarding mobile app design</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 float-left">
                  <div class="mobileM"><img src="/assets/feature-m.png" alt="MobileApp Design" class="img-fluid"/></div>
              </div>

        </div>

    </div>

  </div>

</div>
