.webTop{
  background: #000 url("/assets/website-design.jpg") no-repeat center;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  height:350px;
  position: relative;
  h1{
    color:#e1dee1;
    position: absolute;
    top:100px;

  }
}
.WCT{
  h1{
    text-align: center;
    padding: 20px 0px;

  }
  .WCD{
    margin: 10px 0px;

  }
 .WCM{
  // background: #edeeef;
   background: #000 url("/assets/mobile-bg.jpg") no-repeat center;
   background-size: cover;
   padding: 0px;
   margin: 0px;
   h1{
     color: #edeeef;
   }
   p{
    color: #edeeef;
   }
   .mobileM{
     text-align: right;
   }
 }
}
